body {
  text-align: center;
  background-color: black;
  color: gold;
}

#card-list {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  width: 200px;
  height: 300px;
  border-style: solid;
  border-width: 5px;
  border-color: gold;
  padding: 20px;
  margin: 10px;
  color: gold;
  position: relative;
  box-shadow: 3px 3px 5px gold;
}

.store-card {
  /*width: 200px;
  height: 300px;
  border-style: solid;
  border-width: 5px;
  border-color: gold;
  padding: 20px;
  margin: 10px;
  color: gold;
  position: relative;*/
  box-shadow: none;
}

.container-with-decklist  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: black;
  color: gold;
}

.Bronze {
  width: 200px;
  height: 300px;
  border-style: solid;
  border-width: 5px;
  border-color: gold;
  padding: 20px;
  margin: 10px;
  color: gold;
  position: relative;
  background-color: brown;
}

.Silver {
  color: darkcyan;
  border-color: darkcyan;
  background-color: silver;
  box-shadow: 3px 3px 5px darkcyan;
}

.Gold {
  color: red;
  border-color: red;
  background-color: gold;
  box-shadow: 3px 3px 5px red;
}

.Platinum {
  background-color: darkcyan;
}

.Diamond {
  background-image: linear-gradient(darkturquoise, mediumpurple, white);
  color: blue;
  border-color: blue;
  box-shadow: 3px 3px 5px blue;
}

#add-to-deck {
  font-size: 10px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

#copies {
  font-size: 10px;
  position: absolute;
  left: 5px;
  bottom: 5px;
}

.greyed-card {
  width: 200px;
  height: 300px;
  border-style: solid;
  border-width: 5px;
  border-color: gray;
  padding: 20px;
  margin: 10px;
  color: white;
  background-color: gray;
  position: relative;
}

.greyed-card img {
   filter: grayscale(100%)
}

img {
  height: 160px;
  width: 160px;
  border-style: solid;
  border-color: gold;
}

.greyed-img {
  height: 160px;
  width: 160px;
  border-style: solid;
  border-color: white;
}

.decks-container  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: black;
  color: gold;
}

#decks-list {
  display: flex;
  flex-direction: row;
  /*width: 50%;*/
  justify-content: space-between;
}

#sidebar {
  list-style-type:none;
  width: 200px;
  border-style: solid;
  border-color: gold;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 54px;
  /*top: 53px;*/
  height: 100%;
  display: inline-block;
  overflow: scroll;
  /*overflow-y: overlay;*/
  background-color: black
}

.sidebar-card {
  border-top-style: solid;
  /*border-radius: 1px;*/
  border-top-color: gold;
}

#graveyard-bar{
  background-color: black;
  list-style-type: none;
  height: 600px;
  width: 100%;
  border-style: solid;
  border-color: gold;
  color: gold;
  margin: 0;
  padding: 0;
  position: sticky;
  right: 0;
  top: 0;
  /*top: 53px;*/
  /*height: 100%;*/
  display: inline-block;
  overflow: scroll;
}

.action-box-text {
  background-color: black;
  list-style-type:none;
  width: 100%;
  border-style: solid;
  border-color: gold;
  color: gold;
  margin: 0;
  padding: 0;
  position: sticky;
  right: 0;
  top: 0;
  /*top: 53px;*/
  height: 100%;
  display: inline-block;
}

.graveyard-card {
  border-top-style: solid;
  /*border-radius: 1px;*/
  border-top-color: gold;
}

.big-container {
  background-color: black;
}

#sidebar-title {
  width: 200px;
}

#duel-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hand-list, #spell-list, #monster-list, .extra-field {
  display: flex;
  flex-direction: row;
}

.duel-card {
  border: solid gold 5px;
  height: 200px;
  width: 150px;
  margin: 10px;
  color: gold;
  background-color: black;
}

.duel-card-Bronze {
  color: gold;
  border-color: gold;
  background-color: brown;
  /*box-shadow: 3px 3px 5px gold;*/
}

.duel-card-Silver {
  color: darkcyan;
  border-color: darkcyan;
  background-color: silver;
  /*box-shadow: 3px 3px 5px darkcyan;*/
}

.duel-card-Gold {
  color: red;
  border-color: red;
  background-color: gold;
  /*box-shadow: 3px 3px 5px red;*/
}

.duel-card-Platinum {
  background-color: darkcyan;
}

.duel-card-Diamond {
  background-image: linear-gradient(darkturquoise, mediumpurple, white);
  color: blue;
  border-color: blue;
  /*box-shadow: 3px 3px 5px blue;*/
}

.duel-card-image {
  height: 50px;
  width: 50px;
}

#store {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}

#pack {
  position: relative;
  top: 30%;
  height: 420px;
  width: 300px;
}

#pack-image {
  height: 100%;
  width: 100%;
}

#pack-results {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  border-color: black;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  height: 1150px;
  width: 850px;
}

#duel-field-container {
  display: flex;
  flex-direction: row;
}

nav{
  display: flex;
  align-items: center;
  background-color: black;
  border-style: solid;
  border-color: gold;
  border-radius: 5px;
}

nav ul{
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

li{
  list-style: none;
}

#duel-field {
  width: 70%;
}

#action-box {
  background-color: white;
  color: black;
  width: 30%;
  font-size: 50px;
  position: fixed;
  right: 0;

}

#enemy-field {
  /*background-color: darkred;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#player-field {
  /*background-color: darkblue;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.defense {
  transform: rotate(90deg)
}

#middle-bar {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
  /*border-style: solid;*/
  /*border-color: white;*/
  color: white;
  font-size: 50px;
}

#store-container {
  display: flex;
  flex-direction: row;
}

#duelist-list {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  /*flex-direction: row;*/
  margin: 0 auto;
  /*justify-content: space-around;*/
  padding: 30px 30px 30px 30px;


}

.deck-button-div {
  position: relative;
  top: 250px;
}

.deck{
	display: inline-block;
	background-color: brown;
	position: relative;
}

.circle{
	background-color: black;
	border-radius: 50%;
	height: 200px;
	width: 90px;
	display: flex;
	position: absolute;
	top: 70px;
	left: 77px;
}

#shurima, #demacia, #ionia, #shadow-isles, #targon, #noxus-arena, #rules-background {
  position: absolute;
  left: 0;
  opacity: .75;
  height: 100%;
  width: 100%;
  border: none;
  z-index: -1
}

#summoners-rift {
  position: absolute;
  left: 0;
  opacity: .75;
  height: 1300px;
  width: 100%;
  border: none;
  z-index: -1
}

#noxus-shurima {
 position: absolute;
 left: 0;
 opacity: 75;
 /*height: 100%;*/
 height: 1200px;
 width: 100%;
 border: none;
 z-index: -1
}

#bilgewater{
  position: absolute;
  left: 0;
  opacity: .75;
  height: 100%;
  width: 100%;
  border: none;
  z-index: -1
}

#home, #logged-in {
  position: relative;
  top: 200px;
}

#create-deck {
  padding: 50px
}

#post-match-message {
  position: relative;
  top: 200px;
}

#gold-box {
  background-color: black
}

#campaign-screen {
  position: relative;
  /*height: 867px;*/
}

#text-box {
  -webkit-box-shadow:inset 0px 0px 0px 5px gold;
  -moz-box-shadow:inset 0px 0px 0px 5px gold;
  box-shadow:inset 0px 0px 0px 5px gold;
  /*padding-left: 50px;*/
  /*padding-right: 400px;*/
  /*border: 5px solid gold;*/
  /*font-size: 40px;*/
  position: relative;
  /*background-color: black;*/
  height: 300px;
  /*width: 1620px;*/
  width: 100%;
  bottom: 0;
  /*text-align: left;*/
  /*padding-left: 50px;*/
  /*padding-right: 50px;*/
}

#story-text {
font-size: 40px;
text-align: left;
padding-top: 10px;
padding-left: 50px;
padding-right: 250px;
}

#noxus-shurima2 {
  position: absolute;
  left: 0;
  opacity: .75;
  height: 100%;
  width: 100%;
  border: none;
  z-index: -1
}

#speaker-picture {
  height: 164px;
  width: 164px;
  position: absolute;
  right: 50px;
  top: 50px;
  border: solid gold 2px;
}

#speaker-picture-2{
  /*background: cover;*/
  position: relative;
  /*height: 100%;
  width: 100%;*/
  left: -1px;
  top: -1px;
}

.description {
  width: 600px;
}

.card-info {
  border-style: solid;
  border-width: 5px;
  padding: 20px;
  margin: 10px;
  position: relative;
  /*height: 675px*/
}

.card-info-Bronze {
  color: gold;
  border-color: gold;
  background-color: brown;
  box-shadow: 3px 3px 5px gold;
}

.card-info-Silver {
  color: darkcyan;
  border-color: darkcyan;
  background-color: silver;
  box-shadow: 3px 3px 5px darkcyan;
}

.card-info-Gold {
  color: red;
  border-color: red;
  background-color: gold;
  box-shadow: 3px 3px 5px red;
}

.card-info-Platinum {
  background-color: darkcyan;
}

.card-info-Diamond {
  background-image: linear-gradient(darkturquoise, mediumpurple, white);
  color: blue;
  border-color: blue;
  box-shadow: 3px 3px 5px blue;
}

#campaign-screen {
  height: 470px;
  width: 1680px;
  /*background-color: red;*/
}

#campaign-background {
  /*background-size: cover;*/
  height: 100%;
  width: 100%;
}

#campaign-preduel {
  height: 100%;
  width: 100%;
}

.duelist-name {
  background-color: black;
  border: solid gold;
  position: relative;
  /*width: 160px;*/
  top: -6px;
}

.duelist {
  margin: 10px 5px 15px 5px;
}

.locked-duelist-portrait {
  background-color: black;
  margin: 0px 0px 15px 0px;
}

button {
  color: gold;
  background-color: black;
  border: solid gold 1px;
  /*height: 20px;
  width: 60px;*/
  font-size: 20px;
}

#end-screen {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50px;
  font-size: 500px;
}

/*#rules-background {
  size: cover
}*/

#rules-list {
  text-align: left;
  /*font-size: 20px;*/
  /*background-color: black;*/
  background-color: rgb(0, 0, 0, 0.5);
}

#rules-list  li{
  list-style-type: decimal;
  list-style-position: inside;
}

#rules-title {
  position: relative;
  left: 50%
}

/*.add-button {
  position: absolute;
  right: 279px;
  bottom: 20px;
}*/

.App {
  display: flex;
  flex-direction: column;
}
