body {
  text-align: center;
  background-color: black;
  color: gold;
}

#card-list {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  width: 200px;
  height: 300px;
  border-style: solid;
  border-width: 5px;
  border-color: gold;
  padding: 20px;
  margin: 10px;
  color: gold;
  background-color: black;
  position: relative;
}

#copies {
  font-size: 10px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.greyed-card {
  width: 200px;
  height: 300px;
  border-style: solid;
  border-width: 5px;
  border-color: gray;
  padding: 20px;
  margin: 10px;
  color: white;
  background-color: gray;
  position: relative;
}

img {
  height: 160px;
  width: 160px;
  border-style: solid;
  border-color: gold;
}

.greyed-img {
  height: 160px;
  width: 160px;
  border-style: solid;
  border-color: white;
}

.container-with-decklist  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: black;
  color: gold;
}

#sidebar {
  list-style-type:none;
  width: 200px;
  border-style: solid;
  border-color: gold;
  margin: 0;
  padding: 0;
  position: relative;
  right: 0;
  display: inline-block;
}

.side-bar-card {
  width: 200px;
  border-top-style: solid;
  /*border-radius: 1px;*/
  border-top-color: black;
}

.big-container {
  background-color: black;
}

#sidebar-title {
  width: 200px;
}

#duel-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hand-list, #spell-list, #monster-list, .extra-field {
  display: flex;
  flex-direction: row;
}

.duel-card {
  border: solid gold 5px;
  height: 200px;
  width: 150px;
  margin: 10px;
  color: gold;
  background-color: black;
}

.duel-card-image {
  height: 50px;
  width: 50px;
}

#store {
  display: flex;
  justify-content: center;
}

#pack {
  height: 420px;
  width: 300px;
}

#pack-image {
  height: 100%;
  width: 100%;
}

#pack-results {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  border-color: black;
  border-radius: 5px;
  background-color: black;
  height: 1150px;
  width: 850px;
}

/*.pack-card {
  width: 100px;
  height: 150px;
  border-style: solid;
  border-width: 2px;
  border-color: gold;
  padding: 10px;
  margin: 5px;
  color: gold;
  background-color: black;
  position: relative;
}

.pack-card-img {
  height: 80px;
  width: 80px;
  border-style: solid;
  border-color: gold;
}*/
