body {
  text-align: center
}

#card-list {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  width: 200px;
  height: 300px;
  border-style: solid;
  border-width: 5px;
  border-color: gold;
  padding: 20px;
  margin: 10px;
  color: gold;
  background-color: black;
}

.card-list-container {
  display: flex;
  flex-direction: row;

}

#sidebar {
  list-style-type:none;
  width: 200px;
  border-style: solid;
  border-color: black;
  margin: 0;
  padding: 0;
  position: relative;
  right: 0;
  display: inline-block;
}

.side-bar-card {
  width: 200px;
  border-top-style: solid;
  /*border-radius: 1px;*/
  border-top-color: black;
}

img {
  height: 160px;
  width: 160px;
  border-style: solid;
  border-color: gold;
}

.card-info {
  height: 600px;
  width: 600px;
}

#sidebar-title {
  width: 200px;
}

#duel-field {
  display: flex;
  flex-direction: column;
}

#player2-hand, #player2-spells, #player2-monsters, #player1-hand, #player1-monsters, #player1-spells, #hand-list {
  display: flex;
  flex-direction: row;
}

.duel-card {
  border: solid gold 5px;
  height: 200px;
  width: 150px;
  margin: 10px;
  color: gold;
  background-color: black;
}

.duel-card-image {
  height: 50px;
  width: 50px;
}
